*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1320px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
  transition: all 0.2s ease-in-out;
}

button {
  cursor: pointer;
}

.header-wrapper {
  width: 100%;
  background: rgba(1, 161, 183, 0.05);
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width: 1100px) {
  .header-wrapper {
    background: #ffffff;
    position: fixed;
    top: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  overflow: auto;
}
@media screen and (max-width: 1100px) {
  .header {
    padding: 15px 0;
  }
}
.header-logo {
  cursor: pointer;
}
.header-logo img {
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .header-logo img {
    width: 80px;
  }
}
.header-contact {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  color: #01a1b7;
  margin-right: auto;
  margin-left: 30px;
}
@media screen and (max-width: 1100px) {
  .header-contact {
    display: none;
  }
}
.header-contact p {
  margin-bottom: 5px;
}
@media screen and (max-width: 1100px) {
  .header .show-contact {
    display: block flex;
    position: absolute;
    width: 90%;
    transform: translateY(390px);
    justify-content: space-between;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .header .show-contact {
    transform: translateY(510px);
  }
}
@media screen and (max-width: 500px) {
  .header .show-contact {
    transform: translateY(440px);
    font-size: 16px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1400px) {
  .header-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 1100px) {
  .header-buttons {
    display: none;
  }
}
.header-buttons a {
  font-size: 16px;
  margin-left: 30px;
  padding: 10px 20px;
  background-color: #f4c93f;
  border-radius: 10px;
  outline: none;
}
@media screen and (max-width: 1400px) {
  .header-buttons a {
    margin-top: 5px;
    text-align: center;
  }
}
@media screen and (max-width: 1100px) {
  .header .show-buttons {
    width: 90%;
    display: block flex;
    position: absolute;
    transform: translateY(340px);
    justify-content: space-between;
    align-items: center;
  }
  .header .show-buttons a {
    flex-shrink: 0;
    margin-left: 0;
    margin-top: 5px;
    font-size: 14px;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header .show-buttons {
    flex-direction: column;
    transform: translateY(400px);
    align-items: flex-start;
    width: 95%;
  }
  .header .show-buttons a {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .header .show-buttons {
    transform: translateY(340px);
  }
  .header .show-buttons a {
    padding: 5px;
  }
}
.header-mobicon {
  width: 40px;
  display: none;
  cursor: pointer;
}
.header-mobicon img {
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .header-mobicon {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header-mobicon {
    width: 30px;
  }
}

.header-links__wrapper {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: 99;
}
@media screen and (max-width: 1100px) {
  .header-links__wrapper {
    width: 90%;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: bottom 0.5s ease;
  z-index: 999;
}

.header-links {
  height: 65px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  transition: top 1s linear;
}
@media screen and (max-width: 1100px) {
  .header-links {
    display: none;
  }
}
.header-links .navigation-links {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-links {
    flex-direction: column;
    align-items: start;
  }
}
.header-links .navigation-links li {
  position: relative;
  margin-right: 32px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  .header-links .navigation-links li {
    font-size: 16px;
    margin-right: 10px;
  }
}
.header-links .navigation-links li .menu-link {
  position: relative;
  padding-bottom: 7px;
  transition: all 0.2s ease-in-out;
}
.header-links .navigation-links li .menu-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #f4c93f;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-links li .menu-link::before {
    display: none;
  }
}
.header-links .navigation-links li:hover a {
  color: #01a1b7;
}
.header-links .navigation-links .active.menu-link::before {
  width: 25px;
}
.header-links .navigation-input {
  position: relative;
  padding: 5px;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-input {
    position: absolute;
    top: 0;
    left: 10px;
  }
}
.header-links .navigation-input img {
  width: 16px;
  position: absolute;
  top: 15px;
  left: 20px;
}
.header-links .navigation-input input {
  width: 250px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding-left: 35px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.header-links .navigation-input input::-moz-placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.header-links .navigation-input input::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  .header-links .navigation-input input {
    width: 180px;
  }
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-input input {
    width: 150px;
  }
}
.header-links .navigation-language {
  position: relative;
  margin-left: auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-language {
    position: absolute;
    top: 10px;
    left: 250px;
  }
}
@media screen and (max-width: 500px) {
  .header-links .navigation-language {
    font-size: 16px;
    left: 160px;
  }
}
.header-links .navigation-language .default-language {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header-links .navigation-language .default-language img {
  margin: 0 5px;
}
.header-links .navigation-language .other-languages {
  position: absolute;
  overflow-y: none;
  display: none;
  width: 150px;
  border-radius: 5px;
  margin-top: 40px;
  background-color: #fff;
  padding: 5px 5px 10px 8px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 5px;
}
.header-links .navigation-language .other-languages a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.header-links .navigation-language .other-languages a img {
  margin: 0 5px;
}

.open-menu {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 75px;
  background-color: #ffffff;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 1s ease-in-out;
}
.open-menu .navigation-links {
  margin-top: 30px;
  margin-left: 30px;
}
@media screen and (max-width: 500px) {
  .open-menu .navigation-links {
    margin-left: 15px;
  }
}
.open-menu .navigation-links li {
  font-size: 16px;
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  .open-menu .navigation-links li {
    margin-top: 5px;
  }
}
@media screen and (max-width: 500px) {
  .open-menu .navigation-input {
    left: 0;
  }
}
.open-menu .navigation-input input {
  width: 200px;
}
@media screen and (max-width: 500px) {
  .open-menu .navigation-input input {
    width: 150px;
  }
}
@media screen and (max-width: 500px) {
  .open-menu .navigation-input input::-moz-placeholder {
    font-size: 12px;
  }
  .open-menu .navigation-input input::placeholder {
    font-size: 12px;
  }
}

.footer-wrapper {
  position: relative;
  width: 100%;
  background-color: #01a1b7;
}
.footer-wrapper .background-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 39%;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .footer-wrapper .background-image {
    display: none;
  }
}

.footer {
  display: flex;
  padding-top: 76px;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding-top: 30px;
  }
}
.footer-address {
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 768px) {
  .footer-address {
    margin-bottom: 20px;
  }
}
.footer-address img {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .footer-address img {
    margin-bottom: 20px;
  }
}
.footer-address p {
  width: 75%;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  .footer-address p {
    width: 100%;
  }
}
.footer-pages {
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .footer-pages {
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.footer-pages__title {
  font-size: 20px;
  color: #ffffff;
}
.footer-pages__title::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background: #f4c93f;
}
.footer-pages__links {
  margin-top: 45px;
}
@media screen and (max-width: 768px) {
  .footer-pages__links {
    margin-top: 20px;
  }
}
.footer-pages__links li {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .footer-pages__links li {
    margin-top: 0;
  }
}
.footer-pages__links a {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.footer-pages__links a:hover {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer-pages__links a {
    line-height: 30px;
  }
}
.footer-specialists {
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .footer-specialists {
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.footer-specialists__title {
  font-size: 20px;
  color: #ffffff;
}
.footer-specialists__title::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background: #f4c93f;
}
.footer-specialists__links {
  margin-top: 30px;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .footer-specialists__links {
    margin-top: 20px;
  }
}
.footer-specialists__links li {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .footer-specialists__links li {
    margin-top: 0;
  }
}
.footer-specialists__links a {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.footer-specialists__links a:hover {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer-specialists__links a {
    line-height: 30px;
  }
}
.footer-social {
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .footer-social {
    margin-left: 0;
  }
}
.footer-social__title {
  font-size: 20px;
  color: #ffffff;
}
.footer-social__title::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background: #f4c93f;
}
.footer-social__links {
  margin-top: 45px;
}
@media screen and (max-width: 768px) {
  .footer-social__links {
    margin-top: 20px;
  }
}
.footer-social__links li {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .footer-social__links li {
    margin-top: 0;
  }
}
.footer-social__links a {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.footer-social__links a:hover {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer-social__links a {
    line-height: 20px;
  }
}

.footer-rteco__logo {
  display: flex;
  align-items: center;
  margin-top: 115px;
  padding-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1100px) {
  .footer-rteco__logo {
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 50px;
  }
}
.footer-rteco__logo p {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .footer-rteco__logo p {
    color: #ffffff;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
}
.footer-rteco__logo .rteco-logo {
  position: relative;
  margin-left: 310px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .footer-rteco__logo .rteco-logo {
    margin-left: 0;
  }
}
@media screen and (max-width: 1100px) {
  .footer-rteco__logo .rteco-logo {
    margin-left: 50px;
  }
}
@media screen and (max-width: 500px) {
  .footer-rteco__logo .rteco-logo img {
    width: 90%;
  }
}
.footer-rteco__logo .rteco-logo .color-logo {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.footer-rteco__logo .rteco-logo:hover .color-logo {
  opacity: 1;
}

.labaratory-page__title {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 1100px) {
  .labaratory-page__title {
    margin-top: 100px;
  }
}
.labaratory-page__title img {
  margin-right: 10px;
}

.labaratory {
  margin-top: 35px;
}
.labaratory-title {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
}
.labaratory-content {
  margin-top: 100px;
  display: flex;
}
@media screen and (max-width: 1100px) {
  .labaratory-content {
    flex-direction: column;
    margin-top: 30px;
  }
}
.labaratory-content__video {
  width: 50%;
}
@media screen and (max-width: 1100px) {
  .labaratory-content__video {
    width: 100%;
  }
}
.labaratory-content__text {
  width: 50%;
  padding: 5px;
  margin-left: 10px;
}
@media screen and (max-width: 1100px) {
  .labaratory-content__text {
    width: 100%;
    margin-left: 0;
  }
}
.labaratory-content__text h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}
.labaratory-content__text p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
}

.analysis-wrapper {
  position: relative;
  width: 100%;
  background: rgba(197, 198, 198, 0.1);
  margin-top: 100px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1100px) {
  .analysis-wrapper {
    margin-top: 50px;
  }
}
.analysis-wrapper .analysis-image {
  position: absolute;
  right: 0;
  top: 420px;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .analysis-wrapper .analysis-image {
    display: none;
  }
}
.analysis-wrapper .analysis-image img {
  width: 100%;
}

.analysis {
  padding-top: 100px;
}
@media screen and (max-width: 1100px) {
  .analysis {
    padding-top: 50px;
  }
}
.analysis-title {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .analysis-title {
    font-size: 28px;
  }
}
.analysis-types {
  display: flex;
  padding: 30px;
}
.analysis-types .analysis-item {
  width: 40%;
  list-style-type: disc;
}
@media screen and (max-width: 768px) {
  .analysis-types .analysis-item {
    width: 100%;
  }
}
.analysis-types .analysis-item:last-child {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .analysis-types .analysis-item:last-child {
    display: none;
  }
}
.analysis-types .analysis-item li {
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 36.5px;
  text-transform: uppercase;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  .analysis-types .analysis-item li {
    margin-bottom: 0;
    font-size: 16px;
  }
}
.analysis-types .analysis-item li:hover {
  opacity: 1;
  font-weight: 600;
}

.licenses {
  margin-top: 100px;
  margin-bottom: 90px;
}
@media screen and (max-width: 1100px) {
  .licenses {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.licenses-title {
  font-size: 36px;
}
@media screen and (max-width: 768px) {
  .licenses-title {
    width: 3px;
    height: 15px;
  }
}
.licenses-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
@media screen and (max-width: 1100px) {
  .licenses-content {
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .licenses-content {
    width: 300px;
    overflow-y: auto;
  }
}
.licenses-content img {
  width: 22%;
}
@media screen and (max-width: 500px) {
  .licenses-content img {
    width: 80%;
  }
}
.licenses .place-for-pagination {
  margin-top: 110px;
  display: flex;
  align-items: center;
  color: #000000;
  cursor: pointer;
}
@media screen and (max-width: 11000px) {
  .licenses .place-for-pagination {
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .licenses .place-for-pagination {
    margin-top: 30px;
  }
}
.licenses .place-for-pagination svg path {
  stroke: #000000;
}
.licenses .place-for-pagination p {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.licenses .place-for-pagination .line {
  display: block;
  width: 200px;
  height: 2px;
  background: #000000;
  margin-left: 15px;
  margin-right: 15px;
}

.analysis-description {
  margin-top: 100px;
}
@media screen and (max-width: 1100px) {
  .analysis-description {
    margin-top: 50px;
  }
}
.analysis-description .description-title {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .analysis-description .description-title {
    font-size: 28px;
  }
}
.analysis-description .description-text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .analysis-description .description-text {
    font-size: 16px;
  }
}

.open .accordion-header__price {
  margin-right: 36px;
}
@media screen and (max-width: 768px) {
  .open .accordion-header__price {
    margin-right: 20px;
  }
}
.open .accordion-header__image .plus-button {
  display: none;
}
.open .accordion-content {
  box-sizing: border-box;
}

.accordion-wrapper {
  margin-top: 90px;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .accordion-wrapper {
    margin-top: 50px;
    padding: 0;
    margin-bottom: 30px;
  }
}

.accordion {
  margin-bottom: 30px;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
@media screen and (max-width: 768px) {
  .accordion {
    margin-bottom: 15px;
  }
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  padding: 20px 0 10px;
}
@media screen and (max-width: 768px) {
  .accordion-header {
    padding: 10px 0;
  }
}
.accordion-header__title {
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .accordion-header__title {
    font-size: 20px;
  }
}
.accordion-header h2 {
  font-size: 24px;
  margin-right: 36px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .accordion-header h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .accordion-header h2 {
    display: none;
  }
}
.accordion-header__icon {
  margin: 0 20px;
  position: relative;
  color: #01a1b7;
}
.accordion-header__icon .icon-plus {
  position: relative;
  width: 38px;
  height: 38px;
  border: 3px solid #01a1b7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .accordion-header__icon .icon-plus {
    width: 30px;
    height: 30px;
    border: 2px solid #01a1b7;
  }
}
.accordion-header__icon .icon-plus .plus {
  position: absolute;
  width: 4px;
  height: 20px;
  border-radius: 5px;
  background: #01a1b7;
  transition: all 0.3s linear;
}
@media screen and (max-width: 768px) {
  .accordion-header__icon .icon-plus .plus {
    width: 3px;
    height: 15px;
  }
}
.accordion-header__icon .icon-plus .minus {
  width: 20px;
  height: 4px;
  border-radius: 5px;
  background: #01a1b7;
}
@media screen and (max-width: 768px) {
  .accordion-header__icon .icon-plus .minus {
    width: 15px;
    height: 3px;
  }
}
.accordion-content {
  position: relative;
  overflow: hidden;
  height: 0;
  width: 55%;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .accordion-content {
    width: 100%;
  }
}
.accordion-content p {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
}/*# sourceMappingURL=labaratory.css.map */