*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.header-wrapper {
  width: 100%;
  background: rgba(1, 161, 183, 0.05);
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width: 768px) {
  .header-wrapper {
    background: #ffffff;
    position: fixed;
    top: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.header-logo {
  cursor: pointer;
}
.header-logo img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header-logo img {
    width: 100px;
  }
}
.header-contact {
  font-size: 18px;
  font-weight: bold;
  color: #01a1b7;
  margin-right: auto;
  margin-left: 50px;
}
@media screen and (max-width: 1100px) {
  .header-contact {
    display: none;
  }
}
.header-contact p {
  margin-top: 10px;
}
.header-buttons {
  height: 100%;
}
@media screen and (max-width: 1350px) {
  .header-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 1100px) {
  .header-buttons {
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header-buttons {
    display: none;
  }
}
.header-buttons a {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  background-color: #f4c93f;
  border-radius: 10px;
  outline: none;
}
@media screen and (max-width: 1350px) {
  .header-buttons a {
    margin-top: 5px;
    text-align: center;
  }
}
@media screen and (max-width: 1100px) {
  .header-buttons a {
    padding: 5px;
  }
}
.header-mobicon {
  width: 40px;
  display: none;
  cursor: pointer;
}
.header-mobicon img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header-mobicon {
    display: block;
  }
}

.header-links__wrapper {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.header-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .header-links {
    display: none;
  }
}
.header-links .navigation-links {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-links {
    display: flex;
    flex-wrap: wrap;
  }
}
.header-links .navigation-links li {
  position: relative;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-links li {
    font-size: 16px;
  }
}
.header-links .navigation-links li a {
  padding-bottom: 5px;
}
.header-links .navigation-links li:hover a {
  font-weight: 600;
  color: #01a1b7;
}
.header-links .navigation-links li .active {
  color: #01a1b7;
  font-weight: 600;
  border-bottom: 3px solid #f4c93f;
}
.header-links .navigation-input {
  position: relative;
  padding: 5px;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-input {
    margin-top: 10px;
    margin-left: 0;
  }
}
.header-links .navigation-input img {
  width: 15px;
  position: absolute;
  top: 18px;
  left: 15px;
}
.header-links .navigation-input input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-input input {
    width: 150px;
  }
}
.header-links .navigation-language {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-language {
    margin-top: 10px;
  }
}
.header-links .navigation-language img {
  margin-left: 5px;
  margin-right: 5px;
}

.footer-wrapper {
  position: relative;
  width: 100%;
  background-color: #01a1b7;
}
.footer-wrapper .background-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .footer-wrapper .background-image {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding-top: 30px;
  }
}
.footer-address {
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 768px) {
  .footer-address {
    margin-bottom: 20px;
  }
}
.footer-address img {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .footer-address img {
    margin-bottom: 20px;
  }
}
.footer-address p {
  width: 75%;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .footer-address p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .footer-pages {
    margin-bottom: 20px;
  }
}
.footer-pages__title {
  font-size: 20px;
  color: #ffffff;
}
.footer-pages__title::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 35px;
  height: 5px;
  background: #f4c93f;
}
.footer-pages__links {
  margin-top: 30px;
}
.footer-pages__links a {
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-pages__links a:hover {
  color: #ffffff;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .footer-pages__links a {
    line-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .footer-specialists {
    margin-bottom: 20px;
  }
}
.footer-specialists__title {
  font-size: 20px;
  color: #ffffff;
}
.footer-specialists__title::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 35px;
  height: 5px;
  background: #f4c93f;
}
.footer-specialists__links {
  margin-top: 30px;
  padding: 5px;
}
.footer-specialists__links a {
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-specialists__links a:hover {
  color: #ffffff;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .footer-specialists__links a {
    line-height: 30px;
  }
}
.footer-social__title {
  font-size: 20px;
  color: #ffffff;
}
.footer-social__title::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 35px;
  height: 5px;
  background: #f4c93f;
}
.footer-social__links {
  margin-top: 30px;
}
.footer-social__links a {
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-social__links a:hover {
  color: #ffffff;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .footer-social__links a {
    line-height: 30px;
  }
}

.footer-rteco__logo {
  display: flex;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 1100px) {
  .footer-rteco__logo {
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 50px;
  }
}
.footer-rteco__logo p {
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .footer-rteco__logo p {
    color: #ffffff;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
}
.footer-rteco__logo .rteco-logo {
  position: relative;
  margin-left: 350px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .footer-rteco__logo .rteco-logo {
    margin-left: 0;
  }
}
@media screen and (max-width: 1100px) {
  .footer-rteco__logo .rteco-logo {
    margin-left: 50px;
  }
}
@media screen and (max-width: 500px) {
  .footer-rteco__logo .rteco-logo img {
    width: 90%;
  }
}
.footer-rteco__logo .rteco-logo .color-logo {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.footer-rteco__logo .rteco-logo:hover .color-logo {
  opacity: 1;
}

.sales-page__title {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.sales-page__title img {
  margin-right: 10px;
  margin-bottom: 30px;
}
.sales-page__title h1 {
  margin-top: 50px;
}

.sales-main__wrapper {
  width: 100%;
  background: #01a1b7;
}

.sales-main {
  display: flex;
  padding: 30px 0 0;
  margin-top: 30px;
}
.sales-main .main-content {
  width: 60%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 30px;
}
@media screen and (max-width: 1100px) {
  .sales-main .main-content {
    width: 100%;
  }
}
.sales-main .main-content__title {
  width: 85%;
  font-size: 28px;
  font-weight: 700;
  line-height: 57px;
}
@media screen and (max-width: 1100px) {
  .sales-main .main-content__title {
    width: 100%;
  }
}
.sales-main .main-content__text {
  width: 70%;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: auto;
  margin-top: 30px;
  opacity: 0.8;
}
@media screen and (max-width: 1100px) {
  .sales-main .main-content__text {
    width: 100%;
  }
}
.sales-main .main-content .place-for-pagination {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.sales-main .main-content .place-for-pagination p {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.sales-main .main-content .place-for-pagination .line {
  display: block;
  width: 200px;
  height: 3px;
  background: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 1100px) {
  .sales-main__image {
    display: none;
  }
}

.sales-card__wrapper {
  width: 100%;
  background: rgba(197, 198, 198, 0.2);
}

.sales-cards {
  padding-top: 50px;
  padding-bottom: 50px;
}
.sales-cards .filter-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sales-cards .filter-buttons .button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 500px) {
  .sales-cards .filter-buttons .button {
    font-size: 16px;
    padding: 5px 10px;
  }
}
.sales-cards .filter-buttons .active {
  border: 3px solid #f4c93f;
  color: #000000;
  background: #f4c93f;
}
.sales-cards .place-for-pagination {
  margin-top: 50px;
  display: flex;
  align-items: center;
  color: #000000;
  cursor: pointer;
}
.sales-cards .place-for-pagination svg path {
  stroke: #000000;
}
.sales-cards .place-for-pagination p {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.sales-cards .place-for-pagination .line {
  display: block;
  width: 200px;
  height: 2px;
  background: #000000;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 500px) {
  .sales-cards .place-for-pagination .line {
    width: 100px;
  }
}

.cards-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .cards-wrapper {
    justify-content: center;
  }
}
.cards-wrapper .card {
  margin-top: 30px;
  width: 49%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 768px) {
  .cards-wrapper .card {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .cards-wrapper .card {
    width: 100%;
  }
}
.cards-wrapper .card-image {
  width: 100%;
}
.cards-wrapper .card-image img {
  width: 100%;
}
.cards-wrapper .card-title {
  padding: 30px 40px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .cards-wrapper .card-title {
    padding: 10px 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .cards-wrapper .card-title {
    padding: 10px;
  }
}
.cards-wrapper .card-title__title {
  width: 70%;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  .cards-wrapper .card-title__title {
    font-size: 16px;
  }
}
.cards-wrapper .card-title__sale {
  color: #c62a2a;
  font-size: 36px;
  font-weight: 700;
  line-height: 32px;
}
@media screen and (max-width: 1100px) {
  .cards-wrapper .card-title__sale {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .cards-wrapper .card-title__sale {
    font-size: 24px;
  }
}
.cards-wrapper .card-text {
  padding: 0 40px 30px;
  opacity: 0.6;
  font-weight: 600;
}
@media screen and (max-width: 1100px) {
  .cards-wrapper .card-text {
    padding: 0 20px 10px;
  }
}
@media screen and (max-width: 768px) {
  .cards-wrapper .card-text {
    padding: 0 10px 10px;
  }
}
.cards-wrapper .card-text p {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .cards-wrapper .card-text p {
    margin-top: 20px;
  }
}
.cards-wrapper .card-text .color-blue {
  color: #3e91dd;
}

.licenses {
  margin-top: 50px;
}
.licenses-title {
  font-size: 25px;
}
.licenses-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media screen and (max-width: 500px) {
  .licenses-content {
    width: 300px;
    overflow-y: auto;
  }
}
.licenses-content img {
  width: 22%;
}
@media screen and (max-width: 500px) {
  .licenses-content img {
    width: 80%;
  }
}
.licenses .place-for-pagination {
  margin-top: 50px;
  display: flex;
  align-items: center;
  color: #000000;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .licenses .place-for-pagination {
    margin-top: 30px;
  }
}
.licenses .place-for-pagination svg path {
  stroke: #000000;
}
.licenses .place-for-pagination p {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.licenses .place-for-pagination .line {
  display: block;
  width: 200px;
  height: 2px;
  background: #000000;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 500px) {
  .licenses .place-for-pagination .line {
    width: 100px;
  }
}/*# sourceMappingURL=sales.css.map */