*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1320px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .container {
    width: 95%;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
  transition: all 0.2s ease-in-out;
}

button {
  cursor: pointer;
}

.header-wrapper {
  width: 100%;
  background: rgba(1, 161, 183, 0.05);
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width: 1100px) {
  .header-wrapper {
    background: #ffffff;
    position: fixed;
    top: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 15px 0;
  }
}
.header-logo {
  cursor: pointer;
}
.header-logo img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header-logo img {
    width: 80px;
  }
}
.header-contact {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  color: #01a1b7;
  margin-right: auto;
  margin-left: 30px;
}
@media screen and (max-width: 1100px) {
  .header-contact {
    display: none;
  }
}
.header-contact p {
  margin-bottom: 5px;
}
.header-buttons {
  height: 100%;
}
@media screen and (max-width: 1400px) {
  .header-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 1100px) {
  .header-buttons {
    display: none;
  }
}
.header-buttons a {
  font-size: 16px;
  margin-left: 30px;
  padding: 10px 20px;
  background-color: #f4c93f;
  border-radius: 10px;
  outline: none;
}
@media screen and (max-width: 1400px) {
  .header-buttons a {
    margin-top: 5px;
    text-align: center;
  }
}
.header-mobicon {
  width: 40px;
  display: none;
  cursor: pointer;
}
.header-mobicon img {
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .header-mobicon {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header-mobicon {
    width: 30px;
  }
}

.header-links__wrapper {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: 99;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: bottom 0.5s ease;
  z-index: 999;
}

.header-links {
  height: 65px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  transition: top 1s linear;
}
@media screen and (max-width: 1100px) {
  .header-links {
    display: none;
  }
}
.header-links .navigation-links {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-links {
    flex-direction: column;
    align-items: start;
  }
}
.header-links .navigation-links li {
  position: relative;
  margin-right: 32px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  .header-links .navigation-links li {
    font-size: 16px;
    margin-right: 10px;
  }
}
.header-links .navigation-links li .menu-link {
  position: relative;
  padding-bottom: 7px;
  transition: all 0.5s ease-in-out;
}
.header-links .navigation-links li .menu-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #f4c93f;
  transition: all 0.5s ease-in-out;
}
.header-links .navigation-links li .menu-link::before {
  transition: all 0.5s ease-in-out;
}
.header-links .navigation-links li:hover a {
  color: #01a1b7;
}
.header-links .navigation-links .active.menu-link::before {
  width: 25px;
}
.header-links .navigation-input {
  position: relative;
  padding: 5px;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-input {
    margin-top: 10px;
    margin-left: 0;
  }
}
.header-links .navigation-input img {
  width: 16px;
  position: absolute;
  top: 15px;
  left: 20px;
}
.header-links .navigation-input input {
  width: 250px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding-left: 35px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.header-links .navigation-input input::-moz-placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.header-links .navigation-input input::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  .header-links .navigation-input input {
    width: 180px;
  }
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-input input {
    width: 150px;
  }
}
.header-links .navigation-language {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1100px) {
  .header-links .navigation-language {
    margin-top: 10px;
  }
}
.header-links .navigation-language img {
  margin-left: 5px;
  margin-right: 5px;
}

.open-menu {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 75px;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.open-menu .navigation-links {
  margin-left: 20px;
}
.open-menu .navigation-links li {
  margin-top: 20px;
}
.open-menu .navigation-input input {
  width: 200px;
}

.footer-wrapper {
  position: relative;
  width: 100%;
  background-color: #01a1b7;
}
.footer-wrapper .background-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 39%;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .footer-wrapper .background-image {
    display: none;
  }
}

.footer {
  display: flex;
  padding-top: 76px;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding-top: 30px;
  }
}
.footer-address {
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 768px) {
  .footer-address {
    margin-bottom: 20px;
  }
}
.footer-address img {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .footer-address img {
    margin-bottom: 20px;
  }
}
.footer-address p {
  width: 75%;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  .footer-address p {
    width: 100%;
  }
}
.footer-pages {
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .footer-pages {
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.footer-pages__title {
  font-size: 20px;
  color: #ffffff;
}
.footer-pages__title::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background: #f4c93f;
}
.footer-pages__links {
  margin-top: 45px;
}
@media screen and (max-width: 768px) {
  .footer-pages__links {
    margin-top: 20px;
  }
}
.footer-pages__links li {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .footer-pages__links li {
    margin-top: 0;
  }
}
.footer-pages__links a {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.footer-pages__links a:hover {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer-pages__links a {
    line-height: 30px;
  }
}
.footer-specialists {
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .footer-specialists {
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.footer-specialists__title {
  font-size: 20px;
  color: #ffffff;
}
.footer-specialists__title::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background: #f4c93f;
}
.footer-specialists__links {
  margin-top: 30px;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .footer-specialists__links {
    margin-top: 20px;
  }
}
.footer-specialists__links li {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .footer-specialists__links li {
    margin-top: 0;
  }
}
.footer-specialists__links a {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.footer-specialists__links a:hover {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer-specialists__links a {
    line-height: 30px;
  }
}
.footer-social {
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .footer-social {
    margin-left: 0;
  }
}
.footer-social__title {
  font-size: 20px;
  color: #ffffff;
}
.footer-social__title::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background: #f4c93f;
}
.footer-social__links {
  margin-top: 45px;
}
@media screen and (max-width: 768px) {
  .footer-social__links {
    margin-top: 20px;
  }
}
.footer-social__links li {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .footer-social__links li {
    margin-top: 0;
  }
}
.footer-social__links a {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.footer-social__links a:hover {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer-social__links a {
    line-height: 20px;
  }
}

.footer-rteco__logo {
  display: flex;
  align-items: center;
  margin-top: 115px;
  padding-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1100px) {
  .footer-rteco__logo {
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 50px;
  }
}
.footer-rteco__logo p {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .footer-rteco__logo p {
    color: #ffffff;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
}
.footer-rteco__logo .rteco-logo {
  position: relative;
  margin-left: 310px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .footer-rteco__logo .rteco-logo {
    margin-left: 0;
  }
}
@media screen and (max-width: 1100px) {
  .footer-rteco__logo .rteco-logo {
    margin-left: 50px;
  }
}
@media screen and (max-width: 500px) {
  .footer-rteco__logo .rteco-logo img {
    width: 90%;
  }
}
.footer-rteco__logo .rteco-logo .color-logo {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.footer-rteco__logo .rteco-logo:hover .color-logo {
  opacity: 1;
}

.services-page__title {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.services-page__title img {
  margin-right: 10px;
}

.information {
  margin-top: 30px;
}
.information-title {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 1100px) {
  .information-title {
    font-size: 30px;
  }
}
.information-text {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.information-text p {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  opacity: 0.5;
}
@media screen and (max-width: 1100px) {
  .information-text p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 500px) {
  .information-text p {
    font-size: 16px;
    line-height: 25px;
  }
}

.information-box {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .information-box {
    padding: 0;
  }
}
.information-box .open .accordion-content {
  margin-top: 30px;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .information-box .open .accordion-content {
    margin-top: 15px;
  }
}
.information-box .open .accordion-header__image .plus-button {
  display: none;
}

.accordion {
  padding: 20px 0;
  border-bottom: 1px solid #c7c7c7;
}
@media screen and (max-width: 768px) {
  .accordion {
    padding: 10px 0;
  }
}
.accordion-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}
.accordion-header__title {
  width: 55%;
  position: relative;
  padding-left: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}
@media screen and (max-width: 1100px) {
  .accordion-header__title {
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .accordion-header__title {
    font-size: 18px;
    line-height: 25px;
  }
}
.accordion-header__title::before {
  position: absolute;
  left: 20px;
  top: 40%;
  content: "";
  width: 7px;
  height: 7px;
  background: #000000;
  border-radius: 50%;
}
@media screen and (max-width: 1100px) {
  .accordion-header__title::before {
    left: 10px;
  }
}
.accordion-header__icon {
  position: relative;
  color: #01a1b7;
}
.accordion-header__icon .icon-plus {
  position: relative;
  width: 38px;
  height: 38px;
  border: 3px solid #01a1b7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .accordion-header__icon .icon-plus {
    width: 30px;
    height: 30px;
    border: 2px solid #01a1b7;
  }
}
.accordion-header__icon .icon-plus .plus {
  position: absolute;
  width: 4px;
  height: 20px;
  border-radius: 5px;
  background: #01a1b7;
  transition: all 0.5s linear;
}
@media screen and (max-width: 768px) {
  .accordion-header__icon .icon-plus .plus {
    width: 3px;
    height: 15px;
  }
}
.accordion-header__icon .icon-plus .minus {
  width: 20px;
  height: 4px;
  border-radius: 5px;
  background: #01a1b7;
}
@media screen and (max-width: 768px) {
  .accordion-header__icon .icon-plus .minus {
    width: 15px;
    height: 3px;
  }
}
.accordion-content {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 0;
  transition: 0.3s;
  padding-left: 60px;
  transition: all 0.6s ease-in-out;
}
@media screen and (max-width: 768px) {
  .accordion-content {
    width: 100%;
    padding-left: 20px;
  }
}
.accordion-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .accordion-content p {
    width: 100%;
    font-size: 14px;
    line-height: 25px;
  }
}
.accordion-content.accordion.active {
  height: 200px;
  padding: 30px;
}

.tool {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1100px) {
  .tool {
    margin-top: 50px;
  }
}
.tool-title {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 1100px) {
  .tool-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .tool-title {
    font-size: 24px;
  }
}
.tool .items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1100px) {
  .tool .items-wrapper {
    flex-direction: column;
    margin-top: 50px;
  }
}
.tool .items-wrapper .item {
  width: 32%;
  border-radius: 10px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 1100px) {
  .tool .items-wrapper .item {
    width: 70%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .tool .items-wrapper .item {
    width: 80%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .tool .items-wrapper .item {
    width: 100%;
  }
}
.tool .items-wrapper .item-image {
  width: 100%;
  height: 325px;
  text-align: center;
}
.tool .items-wrapper .item-image img {
  width: 70%;
  height: 100%;
}
@media screen and (max-width: 500px) {
  .tool .items-wrapper .item-image img {
    height: 90%;
  }
}
.tool .items-wrapper .item-image img:last-child {
  width: -moz-fit-content;
  width: fit-content;
}
.tool .items-wrapper .item-title {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  transform: translateX(-30px);
  color: #ffffff;
  background: #01a1b7;
  border-radius: 0 15px 15px 0;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
}
.tool .items-wrapper .item-facts {
  margin-top: 50px;
  position: relative;
  padding-left: 20px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
}
.tool .items-wrapper .item-facts li {
  margin-bottom: 22px;
}
.tool .items-wrapper .item-facts li::before {
  position: absolute;
  display: block;
  margin-top: 5px;
  transform: translateX(-20px);
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #01a1b7;
}
.tool .place-for-pagination {
  margin-top: 70px;
  display: flex;
  align-items: center;
  color: #000000;
  cursor: pointer;
}
.tool .place-for-pagination svg path {
  stroke: #000000;
}
.tool .place-for-pagination p {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.tool .place-for-pagination .line {
  display: block;
  width: 200px;
  height: 2px;
  background: #000000;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 500px) {
  .tool .place-for-pagination .line {
    width: 100px;
  }
}/*# sourceMappingURL=services.css.map */