.footer-wrapper {
  position: relative;
  width: 100%;
  background-color: #01a1b7;

  .background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 39%;
    pointer-events: none;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.footer {
  display: flex;
  padding-top: 76px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-top: 30px;
  }

  &-address {
    color: rgba(255, 255, 255, 0.7);

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }

    img {
      margin-bottom: 80px;

      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    p {
      width: 75%;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &-pages {
    margin-left: 10%;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      margin-left: 0;
    }

    &__title {
      font-size: 20px;
      color: #ffffff;

      &::after {
        margin-top: 5px;
        content: "";
        display: block;
        width: 35px;
        height: 5px;
        background: #f4c93f;
      }
    }

    &__links {
      margin-top: 45px;

      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }
      li {
        margin-top: 10px;
        @media screen and (max-width: 768px) {
          margin-top: 0;
        }
      }
      a {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: #ffffff;
        }

        @media screen and (max-width: 768px) {
          line-height: 30px;
        }
      }
    }
  }

  &-specialists {
    margin-left: 10%;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      margin-left: 0;
    }

    &__title {
      font-size: 20px;
      color: #ffffff;

      &::after {
        margin-top: 5px;
        content: "";
        display: block;
        width: 35px;
        height: 5px;
        background: #f4c93f;
      }
    }

    &__links {
      margin-top: 30px;
      padding: 5px;

      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }

      li {
        margin-top: 10px;

        @media screen and (max-width: 768px) {
          margin-top: 0;
        }
      }
      a {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: #ffffff;
        }

        @media screen and (max-width: 768px) {
          line-height: 30px;
        }
      }
    }
  }

  &-social {
    margin-left: 10%;

    @media screen and (max-width: 768px) {
      margin-left: 0;
    }

    &__title {
      font-size: 20px;
      color: #ffffff;

      &::after {
        margin-top: 5px;
        content: "";
        display: block;
        width: 35px;
        height: 5px;
        background: #f4c93f;
      }
    }

    &__links {
      margin-top: 45px;

      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }
      li {
        margin-bottom: 10px;

        @media screen and (max-width: 768px) {
          margin-top: 0;
        }
      }

      a {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: #ffffff;
        }

        @media screen and (max-width: 768px) {
          line-height: 20px;
        }
      }
    }
  }
}

.footer-rteco__logo {
  display: flex;
  align-items: center;
  margin-top: 115px;
  padding-bottom: 20px;
  color: #ffffff;

  @media screen and (max-width: 1100px) {
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 50px;
  }

  p {
    font-size: 14px;

    @media screen and (max-width: 768px) {
      color: #ffffff;
      margin-top: 30px;
      width: 100%;
      text-align: center;
    }
  }

  .rteco-logo {
    position: relative;
    margin-left: 310px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
    @media screen and (max-width: 1100px) {
      margin-left: 50px;
    }

    img {
      @media screen and (max-width: 500px) {
        width: 90%;
      }
    }

    .color-logo {
      position: absolute;
      left: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover .color-logo {
      opacity: 1;
    }
  }
}
