.header-wrapper {
  width: 100%;
  background-color: rgba(1, 161, 183, 0.05);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  &-logo {
    cursor: pointer;
  }

  &-contact {
    font-size: 18px;
    font-weight: bold;
    color: #01a1b7;
  }

  &-buttons {
    a {
      margin-left: 5px;
      margin-right: 5px;
      padding: 10px 10px;
      background-color: #f4c93f;
      border-radius: 10px;
      outline: none;
    }
  }
}

.header-links__wrapper {
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header-links {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navigation-links {
    display: flex;
    align-items: center;

    li {
      position: relative;
      margin-right: 10px;
      margin-left: 10px;
      font-size: 18px;
      font-weight: 500;

      &:hover a {
        font-weight: 600;
        color: #01a1b7;
      }

      &:first-child {
        margin-left: 0;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 0;
        height: 3px;
        background: #f4c93f;
      }

      &.active li::before{
        width: 10px;
      }
    }
  }

  .navigation-input {
    position: relative;
    padding: 5px;

    img {
      width: 15px;
      position: absolute;
      top: 18px;
      left: 15px;
    }

    input {
      height: 40px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      outline: none;
      padding-left: 30px;
      padding-right: 30px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .navigation-language {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
