.header-wrapper {
  width: 100%;
  background: rgba(1, 161, 183, 0.05);
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  @media screen and (max-width: 1100px) {
    background: #ffffff;
    position: fixed;
    top: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  overflow: auto;

  @media screen and (max-width: 1100px) {
    padding: 15px 0;
  }

  &-logo {
    cursor: pointer;

    img {
      width: 100%;

      @media screen and (max-width: 1100px) {
        width: 80px;
      }
    }
  }

  &-contact {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: bold;
    color: #01a1b7;
    margin-right: auto;
    margin-left: 30px;

    @media screen and (max-width: 1100px) {
      display: none;
    }

    p {
      margin-bottom: 5px;
    }
  }

  .show-contact {
    @media screen and (max-width: 1100px) {
      display: block flex;
      position: absolute;
      width: 90%;
      transform: translateY(390px);
      justify-content: space-between;
      margin-left: 0;
    }

    @media screen and (max-width: 768px) {
      transform: translateY(510px);
    }

    @media screen and (max-width: 500px) {
      transform: translateY(440px);
      font-size: 16px;
      flex-direction: column;
      align-items: center;
    }
  }

  &-buttons {
    
    @media screen and (max-width: 1400px) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
    }

    @media screen and (max-width: 1100px) {
      display: none;
    }

    a {
      font-size: 16px;
      margin-left: 30px;
      padding: 10px 20px;
      background-color: #f4c93f;
      border-radius: 10px;
      outline: none;

      @media screen and (max-width: 1400px) {
        margin-top: 5px;
        text-align: center;
      }
    }
  }

  .show-buttons {
    @media screen and (max-width: 1100px) {
      width: 90%;
      display: block flex;
      position: absolute;
      transform: translateY(340px);
      justify-content: space-between;
      align-items: center;

      a {
        flex-shrink: 0;
        margin-left: 0;
        margin-top: 5px;
        font-size: 14px;
        padding: 10px;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 30px;
      align-items: flex-start;
      width: 95%;

      a {
        width: 100%;
      }
    }

    @media screen and (max-width: 500px) {
      transform: translateY(300px);

      a {
        padding: 5px;
      }
    }
  }

  &-mobicon {
    width: 40px;
    display: none;
    cursor: pointer;

    img {
      width: 100%;
    }

    @media screen and (max-width: 1100px) {
      display: block;
    }

    @media screen and (max-width: 768px) {
      width: 30px;
    }
  }
}

.header-links__wrapper {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: 99;

  @media screen and (max-width: 1100px) {
    width: 90%;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: bottom 0.5s ease;
  z-index: 999;
}

.header-links {
  height: 65px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  transition: top 1s linear;

  @media screen and (max-width: 1100px) {
    display: none;
  }

  .navigation-links {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
      align-items: start;
    }

    li {
      position: relative;
      margin-right: 32px;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;

      @media screen and (max-width: 1400px) {
        font-size: 16px;
        margin-right: 10px;
      }

      .menu-link {
        position: relative;
        padding-bottom: 7px;
        transition: all 0.5s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 0;
          height: 3px;
          background: #f4c93f;
          transition: all 0.5s ease-in-out;
        }
      }

      .menu-link::before {
        transition: all 0.5s ease-in-out;
      }

      &:hover a {
        color: #01a1b7;
      }
    }

    .active.menu-link::before {
      width: 25px;
    }
  }

  .navigation-input {
    position: relative;
    padding: 5px;

    @media screen and (max-width: 1100px) {
      position: absolute;
      top: 0;
      left: 10px;
    }

    img {
      width: 16px;
      position: absolute;
      top: 15px;
      left: 20px;
    }

    input {
      width: 250px;
      height: 35px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      outline: none;
      padding-left: 35px;
      margin-left: 5px;
      color: rgba(0, 0, 0, 0.5);

      &::placeholder {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
      }

      @media screen and (max-width: 1400px) {
        width: 180px;
      }

      @media screen and (max-width: 1100px) {
        width: 150px;
      }
    }
  }

  .navigation-language {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width: 1100px) {
      position: absolute;
      top: 10px;
      left: 250px;
    }

    @media screen and (max-width: 500px) {
      font-size: 16px;
      left: 160px;
    }

    img {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.open-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 75px;
  background-color: #ffffff;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 1s ease-in-out;

  .navigation-links {
    margin-top: 30px;
    margin-left: 30px;

    @media screen and (max-width: 500px) {
      margin-left: 15px;
    }

    li {
      font-size: 16px;
      margin-top: 10px;

      @media screen and (max-width: 500px) {
        margin-top: 5px;
      }
    }
  }

  .navigation-input {
    @media screen and (max-width: 500px) {
      left: 0;
    }

    input {
      width: 200px;

      @media screen and (max-width: 500px) {
        width: 150px;
      }

      &::placeholder {
        @media screen and (max-width: 500px) {
          font-size: 12px;
        }
      }
    }
  }
}
