@import "general";
@import "header";
@import "footer";

.contact-page__title {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  font-weight: 500;

  img {
    margin-right: 10px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 120px;
  }
}

.contact-map {
  position: relative;
  margin-top: 120px;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }

  &__card {
    transform: scale(0);
    transition: all 1s ease;

    @media screen and (max-width: 768px) {
      transform: translateY(120px) scale(1);
    }
  }

  &:hover .contact-map__card {
    transform: translateY(-450px) scale(1);

    @media screen and (max-width: 768px) {
      transform: translateY(120px) scale(1);
    }
  }
}

.contact-map__card .card {
  position: absolute;
  top: -90px;
  left: 50px;
  width: 495px;
  height: 625px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.15);
  padding: 30px 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.5s ease-in-out;

  @media screen and (max-width: 768px) {
    left: 0;
    width: 100%;
    height: 350px;
    padding: 15px 20px;
  }
  @media screen and (max-width: 500px) {
    position: relative;
    width: 100%;
    left: 0;
    padding: 20px;
  }

  &-title {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
  }

  &-text {
    font-size: 20px;
    font-weight: 500;
  }

  &-social {
    a {
      margin-right: 30px;

      &:hover svg path {
        fill: blue;
      }
    }
  }
}

.contact {
  margin-top: 185px;
  margin-bottom: 110px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 420px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 500px) {
    margin-top: 70px;
  }

  &-section {
    @media screen and (max-width: 1100px) {
      margin-bottom: 20px;
    }

    &__title {
      font-family: "Montserrat" sans-serif;
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 25px;

      @media screen and (max-width: 768px) {
        font-size: 28px;
      }
    }

    &__text {
      width: 80%;
      font-size: 24px;
      font-weight: 500;
      line-height: 38px;

      @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 25px;
      }
    }

    &__inform {
      width: 80%;
      margin-top: 100px;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1100px) {
        flex-direction: column;
        margin-top: 50px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: row;
        margin-bottom: 20px;
        margin-top: 30px;
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }

      .inform-title {
        font-size: 20px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .inform-text {
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
      }

      .inform-social {
        display: flex;
        flex-direction: column;

        a {
          margin-bottom: 10px;

          &:hover {
            color: #01a1b7;
          }
        }
      }
    }

    &__numbers {
      margin-top: 60px;

      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 10px;

        svg {
          width: 24px;
          height: 24px;
        }

        @media screen and (max-width: 500px) {
          font-size: 20px;
        }
      }
    }
  }

  &-form {
    width: 52%;
    padding: 40px;
    border-radius: 10px;
    background: rgba(197, 198, 198, 0.2);

    @media screen and (max-width: 1100px) {
      width: 70%;
      padding: 20px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &__title {
      font-family: "Montserrat";
      font-size: 36px;
      font-weight: 700;

      @media screen and (max-width: 768px) {
        font-size: 28px;
      }
    }

    form {
      margin-top: 50px;
    }

    .form-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      input {
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        outline: none;
        height: 56px;
        margin-top: 15px;
        font-size: 18px;

        &::placeholder {
          opacity: 0.7;
        }
      }
    }

    label {
      font-size: 20px;
      font-weight: 700;
    }

    .form-message {
      height: 210px;

      textarea {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        padding: 15px;
        outline: none;
        resize: none;
        font-size: 20px;
      }
    }

    .form-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }

      .submit {
        font-size: 20px;
        padding: 15px 80px;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        background: #01a1b7;
        color: #ffffff;
        transition: 0.5s;

        &:hover {
          background: #2f00ff;
        }

        @media screen and (max-width: 500px) {
          width: 100%;
          padding: 15px;
          margin-bottom: 20px;
        }
      }

      .form-file {
        border: 2px solid #000;
        padding: 5px 20px;
        border-radius: 10px;

        @media screen and (max-width: 500px) {
          padding: 10px;
          text-align: center;
        }

        label {
          font-size: 20px;
          font-weight: 700;
        }

        input {
          width: 0;
          opacity: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: pointer;
        }
      }
    }
  }
}
