@import "general";
@import "header";
@import "footer";

.diagnostics-page__title {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  font-weight: 500;

  img {
    margin-right: 10px;
  }
}

.diagnostics {
  margin-top: 50px;

  &title {
    font-size: 32px;
    font-weight: 700;
  }

  .inform {
    position: relative;
    margin-top: 100px;
    border-radius: 20px;
    background: #01a1b7;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0;

    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }

    &-image {
      img {
        height: 110%;
        position: absolute;
        bottom: 0;

        @media screen and (max-width: 1100px) {
          height: 50%;
        }
      }

      @media screen and (max-width: 1100px) {
        display: none;
      }
    }

    &-content {
      width: 50%;
      padding-bottom: 50px;

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      &__title {
        font-size: 28px;
        font-weight: 700;
        color: #ffffff;
      }

      &__text {
        width: 70%;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 38px;
        color: #ffffff;
        display: flex;

        @media screen and (max-width: 1100px) {
          width: 100%;
        }
      }
    }
  }
}

.equipments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .equipment-item {
    width: 49%;
    margin-top: 30px;
    border-radius: 10px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &__image {
      position: relative;
      height: 450px;
      text-align: center;
      background-color: #c5c6c6;
      padding: 20px;
      border-radius: 10px;

      @media screen and (max-width: 100px) {
        height: 300px;
      }

      img {
        width: max-content;

        @media screen and (max-width: 1100px) {
          width: 80%;
          height: 90%;
        }
      }

      &--title {
        position: absolute;
        bottom: 20px;
        font-size: 22px;
        font-weight: 700;
      }

      &:hover {
        background-color: #f4c93f;
      }
    }

    &__text {
      margin-top: 30px;
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
    }
  }
}

.licenses {
  margin-top: 50px;

  &-title {
    font-size: 25px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media screen and (max-width: 500px) {
      width: 300px;
      overflow-y: auto;
    }

    img {
      width: 22%;

      @media screen and (max-width: 500px) {
        width: 80%;
      }
    }
  }

  .place-for-pagination {
    margin-top: 50px;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      margin-top: 30px;
    }

    svg path {
      stroke: #000000;
    }

    p {
      padding: 10px;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
    }

    .line {
      display: block;
      width: 200px;
      height: 2px;
      background: #000000;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

// diagnostics-inner.html styles//

.information {
  margin-top: 30px;

  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }

  &-text {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }

    p {
      width: 50%;
      font-size: 20px;
      font-weight: 500;
      line-height: 34px;
      opacity: 0.5;

      @media screen and (max-width: 1100px) {
        width: 100%;
      }
    }

    &__image {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.information-box {
  margin-top: 100px;
  padding: 30px;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }

  
}

.open{
  .accordion-content{
    padding-top: 30px;
  }
  .accordion-header__image{
    .plus-button{
      display: none;
    }
  }
}

.accordion {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #c7c7c7;

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;

    &__image {
      position: relative;

      .minus-button {
        transition: all 0.5s linear;
        position: absolute;
        transform: translateX(-36px);
      }
    }
  }

  &-content {
    position: relative;
    overflow: hidden;
    width: 90%;
    transition: 0.3s;
    height: 0;
    transition: all 0.5s linear;

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 15px;
    }

    p {
      padding-left: 50px;
      width: 90%;
      font-size: 16px;
      font-weight: 500;
      line-height: 31px;
      opacity: 0.5;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &.accordion.active {
      height: 200px;
      padding: 30px;
    }
  }
}

.tool {
  margin-top: 100px;
  margin-bottom: 100px;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }

  .items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .item {
      width: 32%;
      border-radius: 10px;
      background: #fff;
      padding: 30px;
      box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);

      @media screen and (max-width: 768px) {
        width: 70%;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 500px) {
        width: 100%;
      }

      &-image {
        width: 100%;
        height: 300px;
        text-align: center;

        img {
          width: 70%;
          height: 70%;

          &:last-child {
            width: fit-content;
          }
        }
      }

      &-title {
        width: fit-content;
        padding: 10px 25px;
        transform: translateX(-30px);
        color: #ffffff;
        background: #01a1b7;
        border-radius: 0 15px 15px 0;
      }

      &-facts {
        margin-top: 30px;
        position: relative;
        padding-left: 15px;

        li {
          margin-top: 10px;
        }

        li::before {
          position: absolute;
          display: block;
          margin-top: 5px;
          transform: translateX(-20px);
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #01a1b7;
        }
      }
    }
  }

  .place-for-pagination {
    margin-top: 50px;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;

    svg path {
      stroke: #000000;
    }

    p {
      padding: 10px;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
    }

    .line {
      display: block;
      width: 200px;
      height: 2px;
      background: #000000;
      margin-left: 15px;
      margin-right: 15px;

      @media screen and (max-width: 500px) {
        width: 100px;
      }
    }
  }
}
