@import "general";
@import "header";
@import "footer";

.diagnostics-page__title {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  font-weight: 500;

  img {
    margin-right: 10px;
  }
}

.diagnostics {
  margin-top: 50px;

  &title {
    font-size: 32px;
    font-weight: 700;
  }

  .inform {
    position: relative;
    margin-top: 100px;
    border-radius: 20px;
    background: #01a1b7;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0;

    &-image {
      img {
        height: 110%;
        position: absolute;
        bottom: 0;
      }
    }

    &-content {
      width: 50%;
      padding-bottom: 50px;

      &__title {
        font-size: 28px;
        font-weight: 700;
        color: #ffffff;
      }

      &__text {
        width: 80%;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 38px;
        color: #ffffff;
      }
    }
  }
}

.equipments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .equipment-item {
    width: 49%;
    margin-top: 30px;
    border-radius: 10px;

    &__image {
      position: relative;
      height: 450px;
      text-align: center;
      background-color: #c5c6c6;
      padding: 20px;
      border-radius: 10px;
      img {
        width: max-content;
      }

      &--title {
        position: absolute;
        bottom: 20px;
        font-size: 22px;
        font-weight: 700;
      }

      &:hover {
        background-color: #f4c93f;
      }
    }

    &__text {
      margin-top: 30px;
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
    }
  }
}

.licenses {
  margin-top: 70px;
  margin-bottom: 70px;

  &-title {
    font-size: 25px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    img {
      width: 22%;
    }
  }

  .place-for-pagination {
    margin-top: 50px;
  }
}


// diagnostics-inner.html styles//

.information {
  margin-top: 30px;

  &-text {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    p {
      width: 50%;
      font-size: 20px;
      font-weight: 500;
      line-height: 34px;
      opacity: 0.5;
    }
  }
}

.information-box {
  margin-top: 100px;
  padding: 30px;
}

.accordion {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #c7c7c7;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &__image {
      position: relative;

      .minus-button {
        position: absolute;
        transform: translateX(-36px);
      }
    }
  }

  &-content {
    position: relative;
    overflow: hidden;
    width: 90%;
    transition: 0.3s;
    padding: 30px ;

    p {
      width: 90%;
      font-size: 16px;
      font-weight: 500;
      line-height: 31px;
      opacity: 0.5;
    }

    &.accordion.active {
      height: 200px;
      padding: 30px;
    }
  }
}

.tool {
  margin-top: 100px;
  margin-bottom: 100px;

  .items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    .item {
      width: 32%;
      border-radius: 10px;
      background: #fff;
      padding: 30px;
      box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);

      &-image {
        width: 100%;
        height: 300px;
        text-align: center;

        img {
          width: 70%;
          height: 70%;

          &:last-child {
            width: fit-content;
          }
        }
      }

      &-title {
        width: fit-content;
        padding: 10px 25px;
        transform: translateX(-30px);
        color: #ffffff;
        background: #01a1b7;
        border-radius: 0 15px 15px 0;
      }

      &-facts {
        margin-top: 30px;
        position: relative;
        padding-left: 15px;

        li {
          margin-top: 10px;
        }

        li::before {
          position: absolute;
          display: block;
          margin-top: 5px;
          transform: translateX(-20px);
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #01a1b7;
        }
      }
    }
  }

  .place-for-pagination {
    margin-top: 100px;
  }
}
