@import "general";
@import "header";
@import "footer";

.diagnostics-page__title {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  font-weight: 500;

  @media screen and (max-width: 1024px) {
    margin-top: 100px;
  }

  img {
    margin-right: 10px;
  }
}

.diagnostics {
  margin-top: 40px;

  &-title {
    font-size: 36px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }

  .inform {
    height: 454px;
    position: relative;
    margin-top: 140px;
    border-radius: 20px;
    background: #01a1b7;
    display: flex;
    padding: 30px 15px 0;

    @media screen and (max-width: 1100px) {
      margin-top: 30px;
      height: fit-content;
      padding: 20px 10px;
    }

    &-image {
      width: 547px;
      height: 390px;

      img {
        height: 110%;
        position: absolute;
        bottom: 0;

        @media screen and (max-width: 1100px) {
          height: 50%;
        }
      }

      @media screen and (max-width: 1100px) {
        display: none;
      }
    }

    &-content {
      width: 55%;
      margin-left: 10px;
      padding-bottom: 50px;

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      &__title {
        font-size: 36px;
        font-weight: 700;
        color: #ffffff;

        @media screen and (max-width: 768px) {
          font-size: 30px;
        }
      }

      &__text {
        width: 90%;
        margin-top: 20px;
        font-size: 24px;
        font-weight: 500;
        line-height: 38px;
        color: #ffffff;
        display: flex;

        @media screen and (max-width: 1100px) {
          width: 100%;
        }

        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }
}

.equipments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .equipment-item {
    width: 49%;

    margin-top: 30px;
    border-radius: 10px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &__image {
      position: relative;
      height: 518px;
      text-align: center;
      background-color: #c5c6c6;
      padding: 30px;
      border-radius: 10px;

      @media screen and (max-width: 100px) {
        height: 300px;
      }

      a {
        width: max-content;
        height: 450px;
      }

      img {
        width: max-content;

        @media screen and (max-width: 1100px) {
          width: 80%;
          height: 90%;
        }
      }

      &--title {
        position: absolute;
        bottom: 30px;
        font-size: 24px;
        font-weight: 700;
      }

      &:hover {
        background-color: #f4c93f;
      }
    }

    &__text {
      width: 95%;
      margin-top: 30px;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 500;
      line-height: 30px;
    }
  }
}

.licenses {
  margin-top: 100px;
  margin-bottom: 95px;

  &-title {
    font-size: 36px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    @media screen and (max-width: 500px) {
      width: 300px;
      overflow-y: auto;
    }

    img {
      width: 22%;

      @media screen and (max-width: 500px) {
        width: 80%;
      }
    }
  }

  .place-for-pagination {
    margin-top: 110px;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      margin-top: 30px;
    }

    svg path {
      stroke: #000000;
    }

    p {
      padding: 10px;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
    }

    .line {
      display: block;
      width: 200px;
      height: 2px;
      background: #000000;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

// diagnostics-inner.html styles//

.information {
  margin-top: 40px;

  @media screen and (max-width: 500px) {
    margin-top: 20px;
  }

  &-title {
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  &-text {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }

    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }

    p {
      width: 55%;
      font-size: 24px;
      font-weight: 500;
      line-height: 38px;
      opacity: 0.5;

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 30px;
      }
    }

    &__image {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.information-box {
  margin-top: 85px;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
    padding: 0;
  }
}

.open {
  .accordion-content {
    margin-top: 25px;
    height: fit-content;

    @media screen and (max-width: 768px) {
      margin-top: 15px;
    }
  }
  .accordion-header__image {
    .plus-button {
      display: none;
    }
  }
}

.accordion {
  padding: 20px 0;
  border-bottom: 1px solid #c7c7c7;

  @media screen and (max-width: 1100px) {
    padding: 10px 0;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;

    &__title {
      position: relative;
      padding-left: 35px;
      font-size: 24px;
      font-weight: 700;
      line-height: 38px;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }

      &::before {
        position: absolute;
        left: 15px;
        top: 40%;
        content: "";
        width: 7px;
        height: 7px;
        background: #000000;
        border-radius: 50%;

        @media screen and (max-width: 768px) {
          left: 0;
        }
      }
    }

    &__icon {
      position: relative;

      color: #01a1b7;

      .icon-plus {
        position: relative;
        width: 38px;
        height: 38px;
        border: 3px solid #01a1b7;
        border-radius: 50%;
        display: flex;
        align-items: center;
        font-size: 24px;
        justify-content: center;

        @media screen and (max-width: 768px) {
          width: 30px;
          height: 30px;
          border: 2px solid #01a1b7;
        }

        .plus {
          position: absolute;
          width: 4px;
          height: 20px;
          border-radius: 5px;
          background: #01a1b7;
          transition: all 0.3s linear;

          @media screen and (max-width: 768px) {
            width: 3px;
            height: 15px;
          }
        }

        .minus {
          width: 20px;
          height: 4px;
          border-radius: 5px;
          background: #01a1b7;

          @media screen and (max-width: 768px) {
            width: 15px;
            height: 3px;
          }
        }
      }
    }
  }

  &-content {
    position: relative;
    overflow: hidden;
    width: 90%;
    transition: 0.3s;
    height: 0;
    transition: all 0.4s linear;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    p {
      padding-left: 50px;
      width: 90%;
      font-size: 16px;
      font-weight: 500;
      line-height: 31px;
      opacity: 0.5;

      @media screen and (max-width: 768px) {
        width: 100%;
        padding-left: 0;
        font-size: 14px;
        line-height: 25px;
      }
    }

    &.accordion.active {
      height: 200px;
      padding: 30px;
    }
  }
}

.tool {
  margin-top: 102px;
  margin-bottom: 100px;

  @media screen and (max-width: 768px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &-title {
    font-size: 36px;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  .items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 50px;
    }

    .item {
      width: 32%;
      border-radius: 10px;
      background: #fff;
      padding: 30px;
      box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);

      @media screen and (max-width: 768px) {
        width: 70%;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 500px) {
        width: 100%;
      }

      &-image {
        height: 325px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
          height: 250px;
        }

        img {
          width: 70%;
          height: 70%;

          &:last-child {
            width: fit-content;
          }
        }
      }

      &-title {
        width: fit-content;
        padding: 7px 30px;
        transform: translateX(-30px);
        color: #ffffff;
        background: #01a1b7;
        border-radius: 0 15px 15px 0;
      }

      &-facts {
        margin-top: 50px;
        position: relative;
        padding-left: 15px;

        @media screen and (max-width: 768px) {
          margin-top: 30px;
        }

        li {
          margin-top: 20px;
          font-family: "Montserrat";
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;

          @media screen and (max-width: 768px) {
            font-size: 14px;
            margin-top: 10px;
          }
        }

        li::before {
          position: absolute;
          display: block;
          margin-top: 5px;
          transform: translateX(-20px);
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #01a1b7;
        }
      }
    }
  }

  .place-for-pagination {
    margin-top: 95px;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }

    svg path {
      stroke: #000000;
    }

    p {
      padding: 10px;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
    }

    .line {
      display: block;
      width: 200px;
      height: 2px;
      background: #000000;
      margin-left: 15px;
      margin-right: 15px;

      @media screen and (max-width: 500px) {
        width: 100px;
      }
    }
  }
}
