@import "general";
@import "header";
@import "footer";

.main-wrapper {
  width: 100%;
  background-color: #01a1b7;
  transition: all 1 linear;
}

.main {
  height: 800px;
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: padding-top 1s linear;

  @media screen and (max-width: 1100px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 768px) {
    height: 400px;
  }

  @media screen and (max-width: 500px) {
    height: fit-content;
  }

  &-content {
    padding-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      padding-top: 50px;
    }

    &__title {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 64px;
      font-weight: 700;
      line-height: 68px;

      @media screen and (max-width: 1100px) {
        width: 90%;
        font-size: 50px;
        line-height: 60px;
      }
      @media screen and (max-width: 768px) {
        width: 90%;
        font-size: 36px;
        line-height: 40px;
      }
      @media screen and (max-width: 500px) {
        font-size: 30px;
      }
    }

    &__text {
      width: 50%;
      margin-top: 20px;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;
      line-height: 38px;
      color: rgba(255, 255, 255, 0.5);

      @media screen and (max-width: 768px) {
        width: 95%;
        line-height: 30px;
        font-size: 20px;
      }
    }

    .place-for-pagination {
      display: flex;
      align-items: center;
      color: #ffffff;
      cursor: pointer;
      margin-top: 320px;

      @media screen and (max-width: 1024px) {
        margin-top: 50px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      p {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;

        @media screen and (max-width: 1024px) {
          padding: 10px;
        }

        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }

      .line {
        display: block;
        width: 300px;
        height: 3px;
        background: #ffffff;
        margin-left: 30px;
        margin-right: 40px;

        @media screen and (max-width: 1400px) {
          width: 200px;
        }
        @media screen and (max-width: 768px) {
          width: 100px;
          margin: 0 10px;
        }
      }
    }
  }

  &-image {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    &__img {
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 768px) {
        display: none;
      }

      img {
        width: 95%;

        @media screen and (max-width: 1400px) {
          width: 70%;
        }
      }
    }
  }
}

.facts-wrapper {
  width: 100%;
  background-color: #f4c93f;
}

.facts {
  display: flex;
  padding: 20px;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0;
    padding-bottom: 20px;
  }

  &-card {
    width: 20%;
    padding: 20px 0 40px 40px;

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0;
      margin-top: 30px;
    }

    img {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }

    .card-title {
      font-family: "Montserrat";
      font-size: 36px;
      font-weight: 700;
      color: #01a1b7;
      margin-bottom: 10px;

      @media screen and (max-width: 1000px) {
        font-size: 26px;
      }
    }

    .card-text {
      font-family: "Montserrat";
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      color: #01a1b7;
    }
  }
}

.services {
  margin-top: 100px;

  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }

  &-title {
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 700;
  }

  &-text {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    margin-top: 20px;
    width: 50%;
    color: rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 1100px) {
      width: 100%;
      font-size: 20px;
      line-height: 25px;
      font-weight: 600;
    }

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;

    @media screen and (max-width: 768px) {
      margin-top: 50px;
    }

    .card-wrapper {
      width: 300px;
      height: 150px;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      background-color: #f4f4f4;
      margin-bottom: 30px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
        text-align: center;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      svg {
        width: 90px;
      }

      p {
        font-weight: bold;
        width: 50%;
        font-size: 18px;
        font-weight: 700;

        @media screen and (max-width: 500px) {
          width: 100%;
        }
      }

      &:hover {
        background-color: #01a1b7;
        color: #ffffff;
      }

      &:hover p {
        color: #ffffff;
      }

      &:hover svg path {
        fill: #ffffff;
      }
    }
  }
}

.specialists-wrapper {
  margin-top: 95px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 50px;
  }

  .specialists {
    &-title {
      font-family: "Montserrat";
      font-size: 36px;
      font-weight: 700;

      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
    &-text {
      font-family: "Montserrat";
      font-size: 24px;
      font-weight: 500;
      line-height: 38px;
      margin-top: 20px;
      color: rgba(0, 0, 0, 0.5);

      @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 25px;
      }
    }

    &-types {
      margin-top: 60px;

      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }

      @media screen and (max-width: 500px) {
        margin-top: 20px;
        max-width: 400px;
      }

      li {
        font-family: Montserrat;
        font-size: 24px;
        font-size: 24px;
        font-weight: 500;
        line-height: 49px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          font-size: 20px;
          margin-right: 15px;
          padding-bottom: 10px;
          line-height: 25px;
        }
      }
    }
  }

  .specialists-image {
    width: 100%;
    align-self: center;

    @media screen and (max-width: 768px) {
      width: 90%;
      margin-top: 20px;
    }

    img {
      width: 100%;
    }
  }
}

.advantages-wrapper {
  width: 100%;
  margin-top: 90px;
  padding-bottom: 50px;
  background-color: rgba(197, 198, 198, 0.1);

  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }

  .container {
    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 30px;
  }
}

.advantages {
  padding-top: 100px;
  padding-bottom: 40px;

  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }

  &-title {
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  &-text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    width: 35%;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 768px) {
      width: 90%;
      font-size: 18px;
      line-height: 25px;
    }
  }

  &-content {
    margin-top: 85px;

    display: flex;
    z-index: 1;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 50px;
    }

    &__list {
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      li {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        padding: 20px 0 20px 30px;

        @media screen and (max-width: 500px) {
          padding: 10px;
          margin-top: 10px;
          font-size: 16px;
        }

        p {
          width: 80%;
        }
      }

      .active {
        background-color: #ffffff;
        border-radius: 10px 0 0 10px;

        @media screen and (max-width: 768px) {
          border-radius: 10px;
        }
      }
    }

    &__text {
      position: relative;
      width: 65%;
      padding: 50px 30px 0 30px;
      background-color: #ffffff;

      h1 {
        font-family: "Montserrat";
        font-size: 32px;
        font-weight: 700;

        @media screen and (max-width: 500px) {
          font-size: 28px;
        }
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
      }

      p {
        width: 70%;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        margin-top: 20px;

        @media screen and (max-width: 768px) {
          width: 100%;
          font-size: 18px;
        }
      }

      img {
        position: absolute;
        right: 10px;
        bottom: 0;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.partners {
  margin-top: 100px;

  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }

  &-title {
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  &-logo {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      margin-top: 50px;
      flex-direction: column;
    }

    @media screen and (max-width: 500px) {
      margin-top: 20px;
      padding: 30px 0;
    }

    &__img {
      margin-right: 20px;
      margin-bottom: 30px;
      padding: 25px 140px;
      border-radius: 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      @media screen and (max-width: 500px) {
        margin-bottom: 15px;
        padding: 20px 90px;
      }

      img {
        width: 96px;

        @media screen and (max-width: 500px) {
          width: 60px;
        }
      }
    }
  }
}

.licenses {
  margin-top: 100px;

  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }

  &-title {
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  .swiper {
    margin-top: 100px;
    width: 100%;
    padding-bottom: 70px;

    @media screen and (max-width: 768px) {
      margin-top: 50px;
    }

    &-wrapper {
      padding: 0 45px;

      .swiper-slide {
        img {
          width: 75%;
        }
      }
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: var(--swiper-pagination-bottom, 20px);
    }
    &-button-prev,
    &-button-next {
      color: #000000;
    }
  }

  .my-slider-progress {
    margin-top: 50px;
    background: #0000001a;
    width: 30%;
  }

  .my-slider-progress-bar {
    background: #000000;
    height: 4px;
    transition: width 400ms ease;
    width: 20%;
  }
}

.request-wrapper {
  width: 100%;
  margin-top: 345px;
  background-color: #f4c93f;

  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 500px) {
    margin-top: 30px;
  }
}

.request {
  display: flex;
  height: 435px;
  justify-content: space-between;

  @media screen and (max-width: 1100px) {
    justify-content: space-evenly;
  }
  @media screen and (max-width: 768px) {
    height: fit-content;
    padding-bottom: 50px;
  }

  &-content {
    margin-top: 50px;
    width: 40%;

    @media screen and (max-width: 1100px) {
      width: 70%;
    }

    @media screen and (max-width: 768px) {
      width: 90%;
      margin-top: 10px;
    }

    &__title {
      margin-top: 50px;
      font-family: "Montserrat";
      font-size: 36px;
      font-weight: 700;

      @media screen and (max-width: 768px) {
        font-size: 28px;
        margin-top: 20px;
      }
    }

    &__subtitle {
      font-family: "Montserrat";
      font-size: 24px;
      font-weight: 500;
      line-height: 38px;
      margin-top: 20px;
      color: rgba(0, 0, 0, 0.5);

      @media screen and (max-width: 500px) {
        font-size: 18px;
        line-height: 25px;
      }
    }

    &__btn {
      font-family: "Montserrat";
      font-size: 18px;
      font-weight: 500;
      font-size: 18px;
      margin-top: 65px;
      padding: 10px 20px;
      border-radius: 10px;
      color: #ffffff;
      background-color: transparent;
      border: 1px solid #ffffff;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }
    }
  }

  &-image {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    background-image: radial-gradient(#ffffff, #f4c93f, #f4c93f);

    @media screen and (max-width: 768px) {
      display: none;
    }

    img {
      position: absolute;
      height: 130%;
      bottom: 0;

      @media screen and (max-width: 1000px) {
        height: 100%;
      }
    }
  }
}
