@import "general";
@import "header";
@import "footer";

.main-wrapper {
  width: 100%;
  background-color: #01a1b7;

  @media screen and (max-width: 768px) {
    padding-top: 60px;
  }
}

.main {
  display: flex;
  flex-direction: column;

  &-content {
    padding-top: 50px;

    &__title {
      width: 80%;
      font-size: 50px;
      color: #ffffff;

      @media screen and (max-width: 768px) {
        width: 90%;
        font-size: 35px;
      }
    }

    &__text {
      width: 50%;
      margin-top: 20px;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.5);

      @media screen and (max-width: 768px) {
        width: 95%;
        line-height: 30px;
      }
    }
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    .place-for-pagination {
      display: flex;
      align-items: center;
      color: #ffffff;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      p {
        padding: 10px;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
      }

      .line {
        display: block;
        width: 200px;
        height: 3px;
        background: #ffffff;
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    &__img {
      width: 60%;
      transform: translateY(4px);

      @media screen and (max-width: 768px) {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }
}

.facts-wrapper {
  width: 100%;
  background-color: #f4c93f;
}

.facts {
  display: flex;
  padding: 20px;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0;
    padding-bottom: 20px;
  }

  &-card {
    width: 20%;
    padding: 10px;

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0;
      margin-top: 30px;
    }

    img {
      width: 40px;
      height: 40px;
    }

    .card-title {
      font-size: 30px;
      color: #01a1b7;
      font-weight: bold;
    }

    .card-text {
      font-size: 14px;
      color: #01a1b7;
      width: 80%;
    }
  }
}

.services {
  margin-top: 50px;

  &-text {
    margin-top: 20px;
    font-size: 20px;
    width: 50%;
    color: rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 768px) {
      width: 100%;
      font-size: 16px;
      line-height: 25px;
      font-weight: 600;
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

    .card-wrapper {
      width: 300px;
      height: 150px;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      background-color: #f4f4f4;
      margin-top: 30px;
      transition: all 0.3s ease-out;
      cursor: pointer;

      @media screen and (max-width: 500px) {
        width: 100%;
        margin-top: 20px;
      }

      a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @media screen and (max-width: 500px) {
          flex-direction: row;
          justify-content: space-around;
        }
      }

      svg {
        width: 70px;

        @media screen and (max-width: 500px) {
          width: 100%;
        }
      }

      p {
        font-weight: bold;
        width: 50%;
        font-size: 18px;
        font-weight: 700;

        @media screen and (max-width: 500px) {
          width: 100%;
        }
      }

      &:hover {
        background-color: #01a1b7;
        color: #ffffff;
      }

      &:hover p {
        color: #ffffff;
      }

      &:hover svg path {
        fill: #ffffff;
      }
    }
  }
}

.specialists-wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .specialists {
    &-title {
      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
    &-text {
      margin-top: 20px;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.5);

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }

    &-types {
      margin-top: 50px;
      font-size: 20px;

      
      
      @media screen and (max-width: 768px) {
        margin-top: 20px;
        max-width: 500px ;
        display: flex;
        overflow-y: auto;
      }

      @media screen and (max-width: 500px) {
        margin-top: 20px;
        max-width: 400px ;
        display: flex;
        overflow-y: auto;
      }

      li {
        font-size: 24px;
        font-weight: 500;
        line-height: 37px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          font-size: 20px;
          margin-right: 15px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .specialists-image {
    width: 80%;
    align-self: center;

    @media screen and (max-width: 768px) {
      width: 90%;
      margin-top: 20px;
    }

    img {
      width: 100%;
    }
  }
}

.advantages-wrapper {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(197, 198, 198, 0.1);

  .container {
    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 30px;
  }
}

.advantages {
  padding-top: 50px;

  &-text {
    width: 30%;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }

  &-content {
    margin-top: 50px;
    display: flex;
    z-index: 1;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &__list {
      width: 35%;

      @media screen and (max-width: 500px) {
        max-width: 450px;
      }
      @media screen and (max-width: 768px) {
        width: 500px;

        display: flex;
        overflow-y: auto;
      }

      li {
        font-weight: 500;
        padding: 15px 0 15px 20px;

        @media screen and (max-width: 768px) {
          padding: 0 10px;
        }
      }

      .active {
        background-color: #ffffff;
        border-radius: 10px 0 0 10px;

        @media screen and (max-width: 768px) {
          background-color: transparent;
        }
      }
    }

    &__text {
      position: relative;
      width: 65%;
      padding: 30px;
      background-color: #ffffff;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
      }

      p {
        width: 50%;
        margin-top: 20px;
        font-weight: 500;
        line-height: 25px;

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      img {
        position: absolute;
        right: 10px;
        bottom: 0;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.partners {
  margin-top: 50px;

  &-title {
    font-size: 25px;
  }

  &-logo {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
      width: 400px;
      flex-wrap: nowrap;
      overflow-y: auto;
      overflow-wrap:normal;
      padding: 30px 0;
    }

    &__img {
      padding: 15px 100px;
      border-radius: 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      img {
        width: 70px;
      }
    }
  }
}

.licenses {
  margin-top: 50px;

  &-title {
    font-size: 25px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media screen and (max-width: 500px) {
      width: 400px;
      overflow-y: auto;
    }

    img {
      width: 22%;

      @media screen and (max-width: 500px) {
        width: 80%;
      }
    }
  }

  .place-for-pagination {
    margin-top: 50px;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      margin-top: 30px;
    }

    svg path {
      stroke: #000000;
    }

    p {
      padding: 10px;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
    }

    .line {
      display: block;
      width: 200px;
      height: 2px;
      background: #000000;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.request-wrapper {
  width: 100%;
  margin-top: 150px;
  background-color: #f4c93f;

  @media screen and (max-width: 500px) {
    margin-top: 30px;
  }
}

.request {
  display: flex;
  height: 300px;
  justify-content: space-between;

  @media screen and (max-width: 1100px) {
      justify-content: space-evenly;
  }

  &-content {
    margin-top: 50px;
    width: 40%;

    @media screen and (max-width: 768px) {
      width: 100%;

    }
    @media screen and (max-width: 1100px) {
      width: 70%;

    }

    &__subtitle {
      font-size: 20px;
      margin-top: 20px;
      width: 100%;
      color: rgba(0, 0, 0, 0.5);

    }

    &__btn {
      font-size: 18px;
      margin-top: 30px;
      padding: 10px 20px;
      border-radius: 10px;
      color: #ffffff;
      background-color: transparent;
      border: 1px solid #ffffff;
      cursor: pointer;
    }
  }

  &-image {
    width: 30%;
    height: 100%;
    position: relative;

    @media screen and (max-width: 768px) {
      display: none;
    }

    img {
      height: 130%;
      bottom: 0;
      position: absolute;
    }
  }
}
